body{
    background-color: #f6f6f6;  
  }
.comm-main{
  margin-top: .5rem !important;
  max-width: 1100px;
  margin:0 auto;
}
.comm-left{
  background-color: #FFF;
  width: 73%;
  float:left;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  margin-bottom: 16px;
}
.comm-right{
  background-color: #FFF;
  width: 25%;
  float:left;
  padding: .3rem;
  border-radius: .3rem;
  margin-left: 1rem;
  border:1px solid #eee;
}
.list-title{
  font-size:1.4rem;
  color: #1e90ff;
  padding: 0 0.5rem;
  margin-top: 1.3rem;
}
.list-context{
  color:#777;
  padding:.5rem;
  border-bottom-style: solid;
  border-color:#f6f6f6;
}
.list-icon{
  padding:.5rem 0;
  color:#AAA;
}
.list-icon span{
  display: inline-block;
  padding: 0 10px;
}